body {
  height: 100%;
  background-color: #f8f8f8;
}

.mainContainer {
  width: 100%;
  height: 50vh;
  background-color: #0a192f;
}

.bg {
  position: relative;
  width: 100%;
  height: 50vh;
  background-color: #0a192f;
}

.customBG {
  background-color: #0a192f;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.customBG svg {

  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.shapeFill {
  fill: #f8f8f8;
}

.content {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.h1Text {
  font-size: 3.5rem;
  margin: 5px;
  color: #ccd6f6;
}

.h2Text {
  font-size: 2.5rem;
  margin: 5px;
  color: #8892b0;
}

.pText {
  color: #8892b0;
  padding-top: 25px;
  max-width: 700px;
}

.projText {
  font-size: 4rem;
  margin: 5px;
  color: #8892b0;
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  max-width: 300px;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  flex-basis: 100%;
}

.projectCard {
  background-color: aliceblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.cardImage {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.cardImage img {
  width: 100%;
  height: auto;
}

.customBtn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #22345C;
  color: wheat;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
}

.cardText {
  padding: 15px;
}

.cardText span,
.cardText p {
  display: block;
  margin-bottom: 10px;
}

@media (min-width: 600px) {
  .cardContainer {
    flex-basis: 50%;
  }
}